[Unit]
Description=Syncs /root/chef-repo/ against upstream

[Service]
Type=oneshot
WorkingDirectory=/root/chef-repo/
ExecStart=/usr/bin/sh -c "git reset --hard && git pull ."
