[Unit]
Description=Executes Cortana's playbook

[Service]
Type=oneshot
WorkingDirectory=/root/chef-repo/
ExecStart=/usr/bin/sh -c "chef-solo -c /root/chef-repo/solo.rb -j /root/chef-repo/solo.json"
